@model StudyPlatformMVC.Models.CourseGrade

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/Grades")

<table class="table">
        <thead>
            <tr class ="tr">
                <th>Course:</th>
                <th>Grade:</th>
                <th>Date:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dansk A</td>
                <td>12</td>
                <td>16-08-1025</td>
            </tr>
            <tr>
                <td>Dansk A</td>
                <td>12</td>
                <td>16-08-1025</td>
            </tr>
            <tr>
                <td>Dansk A</td>
                <td>12</td>
                <td>16-08-1025</td>
            </tr>
            <tr>
                <td>Dansk A</td>
                <td>12</td>
                <td>16-08-1025</td>
            </tr>
            <tr>
                <td>Dansk A</td>
                <td>12</td>
                <td>16-08-1025</td>
            </tr>
            <tr>
                <td>Dansk A</td>
                <td>12</td>
                <td>16-08-1025</td>
            </tr>
            <tr>
                <td>Dansk A</td>
                <td>12</td>
                <td>16-08-1025</td>
            </tr>
        </tbody>
</table>




