@using StudyPlatformMVC.Models
@model List<CourseGrade>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/Grades")

<h2>Course Grade</h2>

<table class="table">
    <thead>
        <tr id="tabelHead">
            <th>Course:</th>
            <th>Grade:</th>
            <th>Comment:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CourseGrade grade in Model)
        {
            <tr>
                <td>@grade.Course.Name</td>
                <td>@grade.Grade</td>
                <td>@grade.Comment</td>
            </tr>
        }
    </tbody>
</table>




