@using StudyPlatformMVC.Models
@model StudyPlatformMVC.ViewModels.CourseGradeViewModel

@{
    ViewBag.Title = "Kursus Karakter";
}
@Styles.Render("~/Content/Grades")

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Kursus:</th>
            <th>Karakter:</th>
        </tr>
    </thead>
    <tbody>
        @foreach (CourseGrade grade in Model)
            {
            <tr>
                <td>@grade.Course.Name</td>
                <td>@grade.Grade</td>
            </tr>
        }
    </tbody>
</table>





