@using StudyPlatformMVC.Models
@model List<Course>

@{
    ViewBag.Title = "Fravær";
}

<div class="absenceTable">
    
    <table>
        <tr>
        <th>Fag</th>
        <th>Almindeligt</th>
        <th>Skriftligt</th>
        </tr>






    @{
    foreach (Course course in @Model)
    {
        @:<tr>
        @:<td> @course.Name </td>
        @:<td>@course.StudentAbsence</td>
        @:<td>Skriftligt</td>
        @:</tr>
        //table til hver headerrow?
    }
    }
        </table>
</div>