@using StudyPlatformMVC.Models
@model List<StudyPlatformMVC.Models.Course>
@{
    ViewBag.Title = "Kurser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Course")

<body>
<div class="container center">
    @if ((Person) Session["user"] is Student)
    {
        <h2 id="courseTableHeader1"> Kurser - Studerende </h2>

        <table class="table table-hover">
            <thead>
            @foreach (Course course in Model)
            {
                <tr>
                    <th class="courseButton"> Kursus: @course.Name </th>
                </tr>
            }
            </thead>
        </table>
    }

    @if ((Person) Session["user"] is Teacher)
    {
    }
</div>
</body>