@using StudyPlatformMVC.Models
@model List<StudyPlatformMVC.Models.Course>

@{
    ViewBag.Title = "Kurser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Course")


<div class="container center">
    @if ((Person) Session["user"] is Student)
    {
        @*Student sessionStudent = Student.GetByID();*@
        Student sessionStudent = (Student) Session["user"];
        List<Course> sessionCourses = sessionStudent.Courses;

        <h2 id="courseTableHeader1"> Kurser - Studerende </h2>

        <table class="table table-hover">
            <thead>
                @foreach (Course course in sessionCourses)
                {
                 <tr>
                     <th> <input type="button" class="btn btn-default" value="@course.Name" onclick="location.href='@Url.Action("Coursestudent", "Courses")'" /> </th>
                     @*Enten skal Index dirigere til Coursestudent/Courseteacher for courseinfo eller også skal controlleren direkte dirigere til courseinfo*@
                 </tr>  
                }
            </thead>
        </table>
    }
    else if ((Person) Session["user"] is Teacher)
    {
        Teacher sessionTeacher = (Teacher)Session["user"];
        List<Course> sessionCourses = sessionTeacher.Courses;



        <h3> <input type="button" class="btn btn-default" value="Opret nyt kursus" onclick=""/> </h3>
    }
</div>
