@using StudyPlatformMVC.Models
@model StudyPlatformMVC.ViewModels.MessageViewModel
@{
    ViewBag.Title = "Ny besked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width: 100px;">
    <form>
            <div class="input-group">
                <span class="input-group-addon" id="addon1">Titel</span>
                <input type="text" class="form-control" placeholder="Titel" aria-describedby="addon1">
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon" id="addon2">Modtagere</span>
                <input type="text" class="form-control" placeholder="Modtagere" aria-describedby="addon2">
            </div>
            <br/>
            <div class="input-group">
                <span class="input-group-addon" id="addon3">Tekst</span>
                <textarea class="form-control" rows="3" aria-describedby="addon3"></textarea>
            </div>
            <br/>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <a href="#" type="submit" class="btn btn-primary">Send</a>
                    <button type="reset" class="btn btn-default">Afbryd</button>
                </div>
            </div>
    </form>
</div>