@using StudyPlatformMVC.Models
@model StudyPlatformMVC.ViewModels.MessageViewModel
@{
    ViewBag.Title = "Indbakke";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Messages.Count == 0)
{
    <p>Du har ikke modtaget nogen beskeder</p>
    <br /><br />
}
<a href="#" class="btn btn-default">Ny besked</a>
<br /><br />
@if (Model.Messages.Count > 0)
{
    <table class="table table-striped table-hover results">
        <thead>
        <tr>
            <th class="col-md-3 col-xs-3">Titel</th>
            <th class="col-md-2 col-xs-2">Sender</th>
            <th class="col-md-1 col-xs-1">Dato</th>
        </tr>
        </thead>
        <tbody>
        @foreach (Message message in Model.Messages)
        {@AddMessage(message)}
        </tbody>
    </table>
}
@helper AddMessage(Message message)
{<tr><td>@message.Title</td><td>@message.Sender.Name</td><td>@message.DateTimeSent</td></tr>}