<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySQLConnectionString"
         connectionString="server=localhost;user=studyplatformuser;port=3306;password=7JPRFq9LeNet4DU2NNB4rwmP;database=studyplatform"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>