body {

}

.absenceTable tr:nth-child(odd){
    background-color: #D5D9DE;
    text-align: center;
}
.absenceTable tr:nth-child(even){
    background-color: #A2ADB8;
    text-align: center;
}
#TableHeader {
    font-size: 150%;
    font-weight: bolder;
    background-color: #39536D;
    color: whitesmoke;
}
#fag {
    line-height: 100px;
}
#secondHeader {
    background-color: #556C82;
    color: whitesmoke;
    font-weight: bolder;
}
.kursiv {
    font-style: italic;
    background-color: #D5D9DE;
}
.kursiv1 {
    font-style: italic;
    background-color: #A2ADB8;
}
.bold {
    font-weight: bold;
}